body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #ecf0f1;
}

section {
    margin-top: 20px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 20px;
}

h1, h2 {
    color: #e74c3c;
}

p {
    line-height: 1.5;
}

footer {
    background-image: url(ilustracao.jpeg);
    background-repeat: no-repeat;
    background-size:800px, 1000px;

    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #1a374b;
    color: #ecf0f1;
}

.imagempur{
    width: 200px;
    height: 200px;
}