

body {
background-color: #c0c0c0;
}

header {

    text-align: center;
    padding: 10px;
    background-color: #880101;
    color: #c0c0c0;
}

section {
    text-align: center;
    margin-top: 20px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 20px;
}

h1, h2 {
    text-align: center;
    color: rgb(175, 0, 0);
}

p {
    text-align: center;
    line-height: 1.5;
}

footer {
    background-color: #1d1d1d;

    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #c0c0c0;
    color: #8b0000;
}

.imagempur{
    width: 200px;
    height: 200px;
}

.fcc-btn {
    text-align: center;
    background-color: #7c0000;
    color: rgb(255, 56, 56);
    padding: 10px 20px;
    text-decoration: none;
  }

  